<div class="container-fluid payment-done py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center justify-content-center text-center">
            <div class="col-lg-6">
                <div class="card shadow-lg p-4">
                    <div class="card-body">
                        <h3 class="congratulations">Congratulations! </h3>
                        <h5 class="section-payment-done-title">Payment & Booking Successful</h5>
                        <h1 class="text-success mb-4">Thank You!</h1>
                        <p class="lead mb-4">Your payment & Booking has been successfully processed. We appreciate your business!</p>
                        <h4 class="mb-3">We will send you a confirmation email shortly.</h4>
                        <button class="btn btn-primary text-white w-100 py-3" routerLink="">Go to Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

